# python jargon
__pycache__/
*.pyc

# virtual environments
venv/
.env/
.env

# environment files
*.env

# database files
*.db
*.sqlite3

# fastapi stuff
*.log

# OS stuff
.DS_Store
Thumbs.db

# IDE files
.vscode/